
*.obj
*.exe
*.res
*.dll
*.pch
*.exp
*.lib
*.sfx

# Folders
*.vscode
**/x86-bin
**/x64-bin
**/arm64-bin
DRAG_TO_EXE_MODIFICATION.md
CPP/bin-msvc-x64.7z
CPP/bin-msvc-x64.log
CPP/env-msvc-x64.txt
CPP/bin-msvc-x64/Lang/af.txt
CPP/bin-msvc-x64/Lang/an.txt
CPP/bin-msvc-x64/Lang/ar.txt
CPP/bin-msvc-x64/Lang/ast.txt
CPP/bin-msvc-x64/Lang/az.txt
CPP/bin-msvc-x64/Lang/ba.txt
CPP/bin-msvc-x64/Lang/be.txt
CPP/bin-msvc-x64/Lang/bg.txt
CPP/bin-msvc-x64/Lang/bn.txt
CPP/bin-msvc-x64/Lang/br.txt
CPP/bin-msvc-x64/Lang/ca.txt
CPP/bin-msvc-x64/Lang/co.txt
CPP/bin-msvc-x64/Lang/cs.txt
CPP/bin-msvc-x64/Lang/cy.txt
CPP/bin-msvc-x64/Lang/da.txt
CPP/bin-msvc-x64/Lang/de.txt
CPP/bin-msvc-x64/Lang/el.txt
CPP/bin-msvc-x64/Lang/en.ttt
CPP/bin-msvc-x64/Lang/eo.txt
CPP/bin-msvc-x64/Lang/es.txt
CPP/bin-msvc-x64/Lang/et.txt
CPP/bin-msvc-x64/Lang/eu.txt
CPP/bin-msvc-x64/Lang/ext.txt
CPP/bin-msvc-x64/Lang/fa.txt
CPP/bin-msvc-x64/Lang/fi.txt
CPP/bin-msvc-x64/Lang/fr.txt
CPP/bin-msvc-x64/Lang/fur.txt
CPP/bin-msvc-x64/Lang/fy.txt
CPP/bin-msvc-x64/Lang/ga.txt
CPP/bin-msvc-x64/Lang/gl.txt
CPP/bin-msvc-x64/Lang/gu.txt
CPP/bin-msvc-x64/Lang/he.txt
CPP/bin-msvc-x64/Lang/hi.txt
CPP/bin-msvc-x64/Lang/hr.txt
CPP/bin-msvc-x64/Lang/hu.txt
CPP/bin-msvc-x64/Lang/hy.txt
CPP/bin-msvc-x64/Lang/id.txt
CPP/bin-msvc-x64/Lang/io.txt
CPP/bin-msvc-x64/Lang/is.txt
CPP/bin-msvc-x64/Lang/it.txt
CPP/bin-msvc-x64/Lang/ja.txt
CPP/bin-msvc-x64/Lang/ka.txt
CPP/bin-msvc-x64/Lang/kaa.txt
CPP/bin-msvc-x64/Lang/kab.txt
CPP/bin-msvc-x64/Lang/kk.txt
CPP/bin-msvc-x64/Lang/ko.txt
CPP/bin-msvc-x64/Lang/ku-ckb.txt
CPP/bin-msvc-x64/Lang/ku.txt
CPP/bin-msvc-x64/Lang/ky.txt
CPP/bin-msvc-x64/Lang/lij.txt
CPP/bin-msvc-x64/Lang/lt.txt
CPP/bin-msvc-x64/Lang/lv.txt
CPP/bin-msvc-x64/Lang/mk.txt
CPP/bin-msvc-x64/Lang/mn.txt
CPP/bin-msvc-x64/Lang/mng.txt
CPP/bin-msvc-x64/Lang/mng2.txt
CPP/bin-msvc-x64/Lang/mr.txt
CPP/bin-msvc-x64/Lang/ms.txt
CPP/bin-msvc-x64/Lang/nb.txt
CPP/bin-msvc-x64/Lang/ne.txt
CPP/bin-msvc-x64/Lang/nl.txt
CPP/bin-msvc-x64/Lang/nn.txt
CPP/bin-msvc-x64/Lang/pa-in.txt
CPP/bin-msvc-x64/Lang/pl.txt
CPP/bin-msvc-x64/Lang/ps.txt
CPP/bin-msvc-x64/Lang/pt-br.txt
CPP/bin-msvc-x64/Lang/pt.txt
CPP/bin-msvc-x64/Lang/ro.txt
CPP/bin-msvc-x64/Lang/ru.txt
CPP/bin-msvc-x64/Lang/sa.txt
CPP/bin-msvc-x64/Lang/si.txt
CPP/bin-msvc-x64/Lang/sk.txt
CPP/bin-msvc-x64/Lang/sl.txt
CPP/bin-msvc-x64/Lang/sq.txt
CPP/bin-msvc-x64/Lang/sr-spc.txt
CPP/bin-msvc-x64/Lang/sr-spl.txt
CPP/bin-msvc-x64/Lang/sv.txt
CPP/bin-msvc-x64/Lang/sw.txt
CPP/bin-msvc-x64/Lang/ta.txt
CPP/bin-msvc-x64/Lang/tg.txt
CPP/bin-msvc-x64/Lang/th.txt
CPP/bin-msvc-x64/Lang/tk.txt
CPP/bin-msvc-x64/Lang/tr.txt
CPP/bin-msvc-x64/Lang/tt.txt
CPP/bin-msvc-x64/Lang/ug.txt
CPP/bin-msvc-x64/Lang/uk.txt
CPP/bin-msvc-x64/Lang/uz-cyrl.txt
CPP/bin-msvc-x64/Lang/uz.txt
CPP/bin-msvc-x64/Lang/va.txt
CPP/bin-msvc-x64/Lang/vi.txt
CPP/bin-msvc-x64/Lang/yo.txt
CPP/bin-msvc-x64/Lang/zh-cn.txt
CPP/bin-msvc-x64/Lang/zh-tw.txt
